*body{
    background: #fff3c3;
    font-family: serif;
    font-weight: 350;
    margin: 0; 
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

